{
  "env": {
    "browser": true,
    "amd" : true
  },
  "globals": {
    "Constants" : true,
    "setImmediate" : true
  },
  "rules" : {
    "comma-dangle" : [ 2, "never" ],
    "no-console" : 2,
    "no-dupe-args" : 2,
    "no-dupe-keys" : 2,
    "no-duplicate-case" : 2,
    "no-empty-character-class" : 2,
    "no-empty" : 1,
    "no-extra-boolean-cast" : 1,
    "no-extra-parens" : 1,
    "no-extra-semi" : 2,
    "no-func-assign" : 2,
    "no-inner-declarations" : 2,
    "no-invalid-regexp" : 2,
    "no-irregular-whitespace" : 2,
    "no-negated-in-lhs" : 2,
    "no-obj-calls" : 2,
    "no-regex-spaces" : 1,
    "no-sparse-arrays" : 2,
    "no-unreachable" : 1,
    "use-isnan" : 2,
    "valid-jsdoc" : 0,
    "valid-typeof" : 2,
    "no-unexpected-multiline" : 2,

    "accessor-pairs" : 2,
    "complexity" : [ 2, 32 ],
    "default-case" : 1,
    "dot-notation" : 2,
    "dot-location" : [ 2, "property" ],
    "eqeqeq" : [ 2, "smart" ],
    "guard-for-in" : 1,
    "no-alert" : 2,
    "no-caller" : 2,
    "no-div-regex" : 2,
    "no-empty-label" : 2,
    "no-eval" : 2,
    "no-extra-bind" : 2,
    "no-fallthrough" : 1,
    "no-implied-eval" : 2,
    "no-invalid-this" : 0,
    "no-iterator" : 2,
    "no-lone-blocks" : 1,
    "no-loop-func" : 1,
    "no-native-reassign" : 2,
    "no-new-func" : 2,
    "no-new-wrappers" : 1,
    "no-new" : 2,
    "no-octal-escape" : 2,
    "no-redeclare" : 2,
    "no-self-compare" : 2,
    "no-sequences" : 0,
    "no-useless-concat" : 2,
    "no-with" : 2,
    "vars-on-top" : 2,
    "wrap-iife" : [ 2, "inside" ],
    "strict" : [ 1, "function" ],

    "no-catch-shadow" : 2,
    "no-delete-var" : 2,
    "no-label-var" : 2,
    "no-shadow-restricted-names" : 2,
    "no-shadow" : 2,
    "no-undef-init": 2,
    "no-undef" : 2,
    "no-undefined" : 2,
    "no-unused-vars" : 1,
    "no-use-before-define" : 1,

    "callback-return" : [ 1, [ "callback", "cb", "next" ] ],
    "global-require" : 2,

    "array-bracket-spacing" : [ 1, "always" ],
    "block-spacing" : [ 1, "always" ],
    "brace-style" : [ 1, "1tbs", { "allowSingleLine" : true } ],
    "camelcase" : 1,
    "comma-spacing" : [ 1, { "before" : false, "after" : true } ],
    "comma-style" : [ 1, "first", { "exceptions" : { "ArrayExpression" : true, "ObjectExpression" : true } } ],
    "computed-property-spacing" : [ 1, "always" ],
    "eol-last" : 1,
    "indent" : [ 1, "tab", { "SwitchCase" : 1 } ],
    "key-spacing" : [ 1, { "beforeColon" : true, "afterColon" : true, "align" : "colon" } ],
    "lines-around-comment" : [ 1, { "beforeBlockComment" : true } ],
    "linebreak-style" : [ 2, "unix" ],
    "max-nested-callbacks" : [ 1, 2 ],
    "no-array-constructor" : 1,
    "no-mixed-spaces-and-tabs" : 1,
    "no-multiple-empty-lines" : [ 1, { "max" : 2 } ],
    "no-new-object" : 1,
    "no-restricted-syntax" : 2,
    "no-spaced-func" : 1,
    "no-unneeded-ternary" : 1,
    "object-curly-spacing" : [ 1, "always" ],
    "one-var" : [ 2, "always" ],
    "operator-assignment" : [ 1, "always" ],
    "operator-linebreak" : [ 2, "before", { "overrides" : { "?" : "after", "+=" : "none" } } ],
    "quote-props" : [ 2, "as-needed", { "keywords" : true, "unnecessary" : false } ],
    "require-jsdoc" : 1,
    "semi-spacing" : [ 1, { "before" : false, "after" : true } ],
    "sort-vars" : 0,
    "space-after-keywords" : [ 1, "always" ],
    "space-before-keywords" : [ 1, "always" ],
    "space-before-blocks" : [ 1, { "functions" : "always", "keywords" : "always" } ],
    "space-before-function-paren" : [ 1, "always" ],
    "space-in-parens" : [ 1, "always" ],
    "space-return-throw-case" : 1,
    "space-unary-ops" : [ 1, { "words" : true, "nonwords" : false } ],
    "space-infix-ops" : [ 1, { "int32Hint" : true } ],

    "arrow-parens" : [ 1, "always" ],
    "arrow-spacing" : [ 1, { "before" : true, "after" : true } ],
    "constructor-super" : 1,
    "no-class-assign" : 2,
    "no-const-assign" : 2,
    "no-dupe-class-members" : 2,
    "no-this-before-super" : 2,

    "max-depth": [ 1, 6 ]
  }
}
